In [2]:
# Import Dependencies
import pandas as pd
from sqlalchemy import create_engine

In [4]:
# Read the olympics.csv files
olympics_file = "./Resources/Olympics.csv"
olympics_df = pd.read_csv(olympics_file)
olympics_df.head()

,Nation,Population,Exists,Code,First_App,Medal,S_Medal,W_Medal,Apps,Medal.1,...,L20_Apps,L20_Medal,L20_Gold,L20_Silver,L20_Bronze,MostSuccessfulSport,Medals,Golds,Silvers,Bronzes
0,Afghanistan,35530081,YES,AFG,1936,0.14,0.14,0.0,14,2,...,4,2,0,0,2,Taekwondo,2,0,0,2
1,Albania,2930187,YES,ALB,1972,0.00,0.00,0.0,12,0,...,9,0,0,0,0,-,0,0,0,0
2,Algeria,41318142,YES,ALG,1964,1.06,1.31,0.0,16,17,...,7,10,2,4,4,Athletics,9,4,3,2
3,American Samoa,55641,YES,ASA,1988,0.00,0.00,0.0,9,0,...,5,0,0,0,0,-,0,0,0,0
4,Andorra,76965,YES,AND,1976,0.00,0.00,0.0,23,0,...,11,0,0,0,0,-,0,0,0,0

In [6]:
# Read the summer_olympics.csv files
summer_olympics_file = "./Resources/Summer-Olympic-medals-1976-to-2008.csv"
summer_olympics_df = pd.read_csv(summer_olympics_file, encoding="ISO-8859-1")
summer_olympics_df.head()

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze