In [15]:
import pandas as pd
from sqlalchemy import create_engine

# Extract CSVs into DataFrames

In [16]:
olympics_file = "./Resources/Olympics.csv"
olympics_df = pd.read_csv(olympics_file)
olympics_df.head()

,Nation,Population,Exists,Code,First_App,Medal,S_Medal,W_Medal,Apps,Medal.1,...,L20_Apps,L20_Medal,L20_Gold,L20_Silver,L20_Bronze,MostSuccessfulSport,Medals,Golds,Silvers,Bronzes
0,Afghanistan,35530081,YES,AFG,1936,0.14,0.14,0.0,14,2,...,4,2,0,0,2,Taekwondo,2,0,0,2
1,Albania,2930187,YES,ALB,1972,0.00,0.00,0.0,12,0,...,9,0,0,0,0,-,0,0,0,0
2,Algeria,41318142,YES,ALG,1964,1.06,1.31,0.0,16,17,...,7,10,2,4,4,Athletics,9,4,3,2
3,American Samoa,55641,YES,ASA,1988,0.00,0.00,0.0,9,0,...,5,0,0,0,0,-,0,0,0,0
4,Andorra,76965,YES,AND,1976,0.00,0.00,0.0,23,0,...,11,0,0,0,0,-,0,0,0,0

In [17]:
athlete_events_file = "./Resources/athlete_events.csv"
athlete_events_df = pd.read_csv(athlete_events_file, encoding="ISO-8859-1")
athlete_events_df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

# Transform Olympics DataFrame

In [18]:
# Create a filtered dataframe from specific columns
olympics_cols = ["Code", "Nation", "Medals"]
olympics_transformed = olympics_df[olympics_cols].copy()

# Rename the column headers
olympics_transformed = olympics_transformed.rename(columns={"Code": "Country_Code",
                                                          "Nation": "Nation",
                                                          "Medals": "Medals_Won"})

# Clean the data by dropping duplicates and setting the index
#olympics_transformed.drop_duplicates("Code", inplace=True)
#olympics_transformed.set_index("Code", inplace=True)

olympics_transformed.set_index("Country_Code", inplace=True)
olympics_transformed.head()

                      Nation  Medals_Won
Country_Code
AFG              Afghanistan           2
ALB                  Albania           0
ALG                  Algeria           9
ASA           American Samoa           0
AND                  Andorra           0

# Transform Athlete Event DataFrame

In [19]:
athlete_events_cols = ["NOC", "Team", "Sport"]
athlete_events_transformed = athlete_events_df[athlete_events_cols].copy()

# Rename the column headers
athlete_events_transformed = athlete_events_transformed.rename(columns={"NOC": "Country_Code",
                                                         "Team": "County_Name",
                                                         "Sport": "Event"})

# Set index
athlete_events_transformed.set_index("Country_Code", inplace=True)

athlete_events_transformed.head()

                 County_Name          Event
Country_Code
CHN                    China     Basketball
CHN                    China           Judo
DEN                  Denmark       Football
DEN           Denmark/Sweden     Tug-Of-War
NED              Netherlands  Speed Skating

# Create database connection

In [20]:
connection_string = "postgres:MilesDarren3!@localhost:5432/olympics_db"
engine = create_engine(f'postgresql://{connection_string}')
engine

Engine(postgresql://postgres:***@localhost:5432/olympics_db)

In [21]:
# Confirm tables
engine.table_names()

['athlete_events', 'olympics']

# Load DataFrames into Database

In [22]:
olympics_transformed.to_sql(name='olympics', con=engine, if_exists='append', index=True)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Country_Code" of relation "olympics" does not exist
LINE 1: INSERT INTO olympics ("Country_Code", "Nation", "Medals_Won"...
                              ^

[SQL: INSERT INTO olympics ("Country_Code", "Nation", "Medals_Won") VALUES (%(Country_Code)s, %(Nation)s, %(Medals_Won)s)]
[parameters: ({'Country_Code': 'AFG', 'Nation': 'Afghanistan', 'Medals_Won': 2}, {'Country_Code': 'ALB', 'Nation': 'Albania', 'Medals_Won': 0}, {'Country_Code': 'ALG', 'Nation': 'Algeria', 'Medals_Won': 9}, {'Country_Code': 'ASA', 'Nation': 'American Samoa', 'Medals_Won': 0}, {'Country_Code': 'AND', 'Nation': 'Andorra', 'Medals_Won': 0}, {'Country_Code': 'ANG', 'Nation': 'Angola', 'Medals_Won': 0}, {'Country_Code': 'ANT', 'Nation': 'Antigua and Barbuda', 'Medals_Won': 0}, {'Country_Code': 'ARG', 'Nation': 'Argentina', 'Medals_Won': 4}  ... displaying 10 of 226 total bound parameter sets ...  {'Country_Code': 'ZAM', 'Nation': 'Zambia', 'Medals_Won': 1}, {'Country_Code': 'ZIM', 'Nation': 'Zimbabwe', 'Medals_Won': 7})]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [11]:
athlete_events_transformed.to_sql(name='athlete_events', con=engine, if_exists='append', index=True)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Country_Code" of relation "athlete_events" does not exist
LINE 1: INSERT INTO athlete_events ("Country_Code", "County_Name", "...
                                    ^

[SQL: INSERT INTO athlete_events ("Country_Code", "County_Name", "Event") VALUES (%(Country_Code)s, %(County_Name)s, %(Event)s)]
[parameters: ({'Country_Code': 'CHN', 'County_Name': 'China', 'Event': 'Basketball'}, {'Country_Code': 'CHN', 'County_Name': 'China', 'Event': 'Judo'}, {'Country_Code': 'DEN', 'County_Name': 'Denmark', 'Event': 'Football'}, {'Country_Code': 'DEN', 'County_Name': 'Denmark/Sweden', 'Event': 'Tug-Of-War'}, {'Country_Code': 'NED', 'County_Name': 'Netherlands', 'Event': 'Speed Skating'}, {'Country_Code': 'NED', 'County_Name': 'Netherlands', 'Event': 'Speed Skating'}, {'Country_Code': 'NED', 'County_Name': 'Netherlands', 'Event': 'Speed Skating'}, {'Country_Code': 'NED', 'County_Name': 'Netherlands', 'Event': 'Speed Skating'}  ... displaying 10 of 271116 total bound parameter sets ...  {'Country_Code': 'POL', 'County_Name': 'Poland', 'Event': 'Bobsleigh'}, {'Country_Code': 'POL', 'County_Name': 'Poland', 'Event': 'Bobsleigh'})]
(Background on this error at: http://sqlalche.me/e/13/f405)